<div class="container">
  <header class="header">
    <button class="add-button">add campaign</button>
    <div class="balance">
      <h3 class="balance__text">BALANCE:</h3>
      <p class="balance__value">{{ balance }}</p>
    </div>
  </header>
    <div class="campaigns" [hidden]="campaigns.length == 0">
      <campaign *ngFor="let campaign of campaigns" [campaign]="campaign">
      </campaign>
    </div>
    <div class="no-campaigns" [hidden]="campaigns.length > 0">
      No campaigns yet!
    </div>
    <create-form>
    </create-form>
</div>