<div class="container">
  <header class="header">
    <div class="balance">
      <h3 class="balance__text">BALANCE:</h3>
      <p class="balance__value">{{ resources.balance }}</p>
    </div>
    <create-form [towns]="resources.towns">
    </create-form>
  </header>
    <div class="campaigns" [hidden]="campaigns.length == 0">
      <campaign *ngFor="let campaign of campaigns" [campaign]="campaign">
      </campaign>
    </div>
    <div class="no-campaigns" [hidden]="campaigns.length > 0">
      No campaigns yet!
    </div>
</div>