// imports //

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// colors //

$main: hsl(150, 100%, 80%);
$shadow: hsl(171, 5%, 28%);
$dark: hsl(170, 5%, 24%);
$red: hsl(0, 100%, 47%);
$green: hsl(134, 54%, 46%);

// fonts //

$primary-font: 'Montseratt', sans-serif;